<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    {{ signupForm.value | json }}
    {{ signupForm.status | json }}
    <div>
        <label for="firstName">First Name: </label>
        <input id="firstName" type="text" formControlName="firstName">
    </div>
    <div>
        <label for=" lastName">Last Name: </label>
        <input id="lastName" type="text" formControlName="lastName">
    </div>
    <div>
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div>
        <p>Complete the form to enable button.</p>
        <button type="submit" [disabled]="!signupForm.valid">Submit</button>
    </div>
</form>